# ================================
# Dart / Flutter
# ================================
.dart_tool/
.packages
pubspec.lock

# Ignore package_config.json trong toàn bộ workspace (melos)
**/.dart_tool/package_config.json

# ================================
# Melos
# ================================
.melos_tool/
.melos/
melos_bootstrap.log

# ================================
# FVM (Flutter Version Management)
# ================================

# Nếu dùng config local (không muốn commit)

# ================================
# Build & Generated
# ================================
build/
**/build/

# Flutter / platform generated
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

android/.gradle/
android/app/build/

# ================================
# IDE / Editor
# ================================
.idea/
.vscode/
*.iml

# ================================
# OS
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs
# ================================
*.log

# FVM Version Cache
.fvm/